html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(185, 185, 185);
  background: linear-gradient(
      0deg,
      rgb(185, 185, 185) 0%,
      rgb(247, 247, 247) 85%
    )
    fixed;
}

main {
  height: 100%;
}

.bg-dark-red {
  background-color: rgb(161, 48, 54);
}

.center-title {
  text-align: center;
}

#logo:hover {
  filter: brightness(90%);
}

#navbar {
  border-bottom: 5px rgb(129, 39, 44) solid;
  min-height: 70px;
}

/* #big-img-container {
  background: url("../../static/img/sushi-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 100%;
} */

#big-img {
  width: 100%;
}

#content-container {
  text-align: center;
}

#login-panel,
#register-panel {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  min-width: 300px;
  max-width: 22%;
}

#login-button,
#register-button {
  min-width: 200px;
  width: 80%;
  border-radius: 20px;
}

.menu-title {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 5px;
}

.menu-title-hr {
  margin-top: 0px;
}

#menu-table thead {
  color: white;
  background-color: rgb(161, 48, 54);
}

.item-price,
.item-quantity {
  text-align: center;
  font-weight: bold;
}
