body {
  background: rgb(185, 185, 185);
  background: linear-gradient(
      0deg,
      rgb(185, 185, 185) 0%,
      rgb(247, 247, 247) 85%
    )
    fixed;
}

.bg-dark-red {
  background-color: rgb(161, 48, 54);
}

.center-title {
  text-align: center;
}

#logo:hover {
  filter: brightness(90%);
}

#navbar {
  border-bottom: 5px rgb(129, 39, 44) solid;
  margin-bottom: 40px;
  min-height: 70px;
}

#login-panel,
#register-panel {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  min-width: 300px;
  max-width: 20%;
}

#login-button,
#register-button {
  min-width: 200px;
  width: 80%;
  border-radius: 20px;
}
