<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/x-icon" href="../../../static/img/favicon.ico"/>

  <title>{% block title %} {% endblock%}</title>

  <script src="../../../static/js/app.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <link rel="stylesheet" href="../../../static/css/style.css">

  <script src="https://kit.fontawesome.com/1e4b6b9fc4.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark-red">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="/""
            ><img id="logo" src="../../../static/img/sushi_bai_kiyoshi_logo_new.png" width="250" height="57" alt="logo"
        loading="lazy"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'home' else 'nav-link' }}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'menu' else 'nav-link' }}" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'order' else 'nav-link' }}" href="/order">Order</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'login' else 'nav-link' }}" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'register' else 'nav-link' }}"
              href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div id="alertMessage" class="alert alert-success" role="alert" style="visibility: hidden; text-align: center;">
      alert message
    </div>
    {% block body %} {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  
  <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>

</body>

</html>