{% extends 'public/templates/base.html' %} {% block title %}Menu{% endblock %}
{% set active_page = "menu" %} {% block body %}

<div class="container">
  <h1 class="menu-title display-4">Nigiri</h1>
  <hr class="menu-title-hr" />
  <table id="menu-table" class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Item</th>
        <th scope="col" style="width: 60%">Description</th>
        <th scope="col" style="width: 15%; text-align: center">Price ($)</th>
        <th scope="col" style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <td scope="row">Mark</td>
        <td>Otto</td>
        <td class="item-price">$9.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Jacob</td>
        <td>Thornton</td>
        <td class="item-price">$7.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Larry</td>
        <td>the Bird</td>
        <td class="item-price">$6.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="menu-title display-4">Sashimi</h1>
  <hr class="menu-title-hr" />
  <table id="menu-table" class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Item</th>
        <th scope="col" style="width: 60%">Description</th>
        <th scope="col" style="width: 15%; text-align: center">Price ($)</th>
        <th scope="col" style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <td scope="row">Mark</td>
        <td>Otto</td>
        <td class="item-price">$9.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Jacob</td>
        <td>Thornton</td>
        <td class="item-price">$7.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Larry</td>
        <td>the Bird</td>
        <td class="item-price">$6.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="menu-title display-4">Maki</h1>
  <hr class="menu-title-hr" />
  <table id="menu-table" class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Item</th>
        <th scope="col" style="width: 60%">Description</th>
        <th scope="col" style="width: 15%; text-align: center">Price ($)</th>
        <th scope="col" style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <td scope="row">Mark</td>
        <td>Otto</td>
        <td class="item-price">$9.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Jacob</td>
        <td>Thornton</td>
        <td class="item-price">$7.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Larry</td>
        <td>the Bird</td>
        <td class="item-price">$6.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="menu-title display-4">Tempura Rolls</h1>
  <hr class="menu-title-hr" />
  <table id="menu-table" class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Item</th>
        <th scope="col" style="width: 60%">Description</th>
        <th scope="col" style="width: 15%; text-align: center">Price ($)</th>
        <th scope="col" style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <td scope="row">Mark</td>
        <td>Otto</td>
        <td class="item-price">$9.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Jacob</td>
        <td>Thornton</td>
        <td class="item-price">$7.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
      <tr class="table-danger">
        <td scope="row">Larry</td>
        <td>the Bird</td>
        <td class="item-price">$6.99</td>
        <td>
          <button type="button" class="btn btn-light">Add To Order</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
