{% extends 'public/templates/base.html' %} {% block title %}Menu{% endblock %}
{% set active_page = "menu" %} {% block body %}

<div class="container">
  <h1 class="menu-title display-4">Maki</h1>
  <hr class="menu-title-hr" />
  <div class="table-responsive">
    <table
      id="menu-table"
      class="table table-sm"
      style="background-color: white"
    >
      <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
        <tr>
          <th style="width: 20%; font-size: 90%">NAME</th>
          <th style="width: 50%; font-size: 90%">DESCRIPTION</th>
          <th style="width: 10%; text-align: center; font-size: 90%">PRICE</th>
          <th style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
        {% set count = [ ] %} {% set j = 0 %} {% for item in maki %}
        <tr>
          <td>
            <strong>{{ maki[count|length][j + 1] }}</strong>
          </td>
          <td>{{ maki[count|length][j + 2] }}</td>
          <td style="text-align: center">
            <strong>${{ maki[count|length][j + 3] }}</strong>
          </td>
          <td style="text-align: right">
            <form method="POST">
              <button
                id="btnAddToOrder"
                type="submit"
                class="btn btn-dark"
                name="btn_add_to_order"
                value="{{maki[count|length][j+1]}}"
              >
                <img
                  src="../../../static/img/plus-circle.svg"
                  alt="plus-circle"
                  style="margin-right: 5px"
                />
                Add To Order
              </button>
            </form>
          </td>
        </tr>
        {% set i = count.append(1) %} {% endfor %}
      </tbody>
    </table>
  </div>

  <h1 class="menu-title display-4">Nigiri</h1>
  <hr class="menu-title-hr" />
  <div class="table-responsive">
    <table
      id="menu-table"
      class="table table-sm"
      style="background-color: white"
    >
      <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
        <tr>
          <th style="width: 20%; font-size: 90%">NAME</th>
          <th style="width: 50%; font-size: 90%">DESCRIPTION</th>
          <th style="width: 10%; text-align: center; font-size: 90%">PRICE</th>
          <th style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
        {% set count = [ ] %} {% set j = 0 %} {% for item in nigiri %}
        <tr>
          <td><strong>{{ nigiri[count|length][j + 1] }}</strong></td>
          <td>{{ nigiri[count|length][j + 2] }}</td>
          <td style="text-align: center">
            <strong>${{ nigiri[count|length][j + 3] }}</strong>
          </td>
          <td style="text-align: right">
            <form method="POST">
              <button
                id="btnAddToOrder"
                type="submit"
                class="btn btn-dark"
                name="btn_add_to_order"
                value="{{nigiri[count|length][j+1]}}"
              >
                <img
                  src="../../../static/img/plus-circle.svg"
                  alt="plus-circle"
                  style="margin-right: 5px"
                />
                Add To Order
              </button>
            </form>
          </td>
        </tr>
        {% set i = count.append(1) %} {% endfor %}
      </tbody>
    </table>
  </div>

  <h1 class="menu-title display-4">Sashimi</h1>
  <hr class="menu-title-hr" />
  <div class="table-responsive">
    <table
      id="menu-table"
      class="table table-sm"
      style="background-color: white"
    >
      <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
        <tr>
          <th style="width: 20%; font-size: 90%">NAME</th>
          <th style="width: 50%; font-size: 90%">DESCRIPTION</th>
          <th style="width: 10%; text-align: center; font-size: 90%">PRICE</th>
          <th style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
        {% set count = [ ] %} {% set j = 0 %} {% for item in sashimi %}
        <tr>
          <td><strong>{{ sashimi[count|length][j + 1] }}</strong></td>
          <td>{{ sashimi[count|length][j + 2] }}</td>
          <td style="text-align: center">
            <strong>${{ sashimi[count|length][j + 3] }}</strong>
          </td>
          <td style="text-align: right">
            <form method="POST">
              <button
                id="btnAddToOrder"
                type="submit"
                class="btn btn-dark"
                name="btn_add_to_order"
                value="{{sashimi[count|length][j+1]}}"
              >
                <img
                  src="../../../static/img/plus-circle.svg"
                  alt="plus-circle"
                  style="margin-right: 5px"
                />
                Add To Order
              </button>
            </form>
          </td>
        </tr>
        {% set i = count.append(1) %} {% endfor %}
      </tbody>
    </table>
  </div>

  <h1 class="menu-title display-4">Tempura Rolls</h1>
  <hr class="menu-title-hr" />
  <div class="table-responsive">
    <table
      id="menu-table"
      class="table table-sm"
      style="background-color: white"
    >
      <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
        <tr>
          <th style="width: 20%; font-size: 90%">NAME</th>
          <th style="width: 50%; font-size: 90%">DESCRIPTION</th>
          <th style="width: 10%; text-align: center; font-size: 90%">PRICE</th>
          <th style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
        {% set count = [ ] %} {% set j = 0 %} {% for item in tempura_rolls %}
        <tr>
          <td><strong>{{ tempura_rolls[count|length][j + 1] }}</strong></td>
          <td>{{ tempura_rolls[count|length][j + 2] }}</td>
          <td style="text-align: center">
            <strong>${{ tempura_rolls[count|length][j + 3] }}</strong>
          </td>
          <td style="text-align: right">
            <form method="POST">
              <button
                id="btnAddToOrder"
                type="submit"
                class="btn btn-dark"
                name="btn_add_to_order"
                value="{{tempura_rolls[count|length][j+1]}}"
              >
                <img
                  src="../../../static/img/plus-circle.svg"
                  alt="plus-circle"
                  style="margin-right: 5px"
                />
                Add To Order
              </button>
            </form>
          </td>
        </tr>
        {% set i = count.append(1) %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- onclick="alertMessage('success', 'Added to order!');" -->

{% endblock %}
