{% extends 'public/templates/base.html' %} {% block title %}Order{% endblock %}
{% set active_page = "order" %} {% block body %}

<div id="order-panel" class="container">
  <div class="row">
    <div class="col">
      <h1 class="menu-title display-4">Current Order</h1>
      <hr class="menu-title-hr" />
      <table id="menu-table" class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 80%">Item</th>
            <th scope="col" style="width: 10%; text-align: center">Qty</th>
            <th scope="col" style="width: 10%; text-align: center">
              Price ($)
            </th>
            <th scope="col" style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-danger">
            <td scope="row">Mark</td>
            <td class="item-quantity">1</td>
            <td class="item-price">$9.99</td>
            <td>
              <button
                type="button"
                onclick="alertMessage('success', 'Removed from order!')"
                class="btn btn-light"
              >
                Remove
              </button>
            </td>
          </tr>
          <tr class="table-danger">
            <td scope="row">Jacob</td>
            <td class="item-quantity">1</td>
            <td class="item-price">$7.99</td>
            <td>
              <button type="button" class="btn btn-light">Remove</button>
            </td>
          </tr>
          <tr class="table-danger">
            <td scope="row">Larry</td>
            <td class="item-quantity">1</td>
            <td class="item-price">$6.99</td>
            <td>
              <button type="button" class="btn btn-light">Remove</button>
            </td>
          </tr>
          <tr class="table-danger">
            <td colspan="3" style="text-align: right">
              <h4>Total:</h4>
            </td>
            <td class="item-price"><h4>$24.97</h4></td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-danger" style="float: right">
        Checkout
      </button>
    </div>
  </div>
</div>

{% endblock %}
