{% extends 'public/templates/base.html' %} {% block title %}Order{% endblock %}
{% set active_page = "order" %} {% block body %}

<div id="order-panel" class="container">
  <h1 class="menu-title display-4">Current Order</h1>
  <hr class="menu-title-hr" />
  <table id="menu-table" class="table table-sm table-hover">
    <thead>
      <tr>
        <th style="width: 70%">Item</th>
        <th style="width: 10%; text-align: center">Quantity</th>
        <th style="width: 10%; text-align: center">Price</th>
        <th style="width: 20%; text-align: right"></th>
      </tr>
    </thead>
    <tbody>
      {% set count = [ ] %} {% set j = 0 %} {% for item in order %}
      <tr class="table-danger">
        <td>{{ order[count|length][j] }}</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">
          <strong>{{ order[count|length][j + 1] }}</strong>
        </td>
        <td style="text-align: right">
          <form method="POST">
            <button
              id="btnRemoveFromOrder"
              type="submit"
              class="btn btn-light"
              name="btn_remove_from_order"
              value="{{order[count|length][j]}}"
              onclick="alertMessage('success', 'Removed from order!'); "
            >
              Remove
            </button>
          </form>
        </td>
      </tr>
      {% set i = count.append(1) %} {% endfor %}
    </tbody>
    <tfoot>
      <tr class="table-danger">
        <td colspan="3" style="text-align: right"><h4>Total =</h4></td>
        <td style="text-align: right"><h4>${{price}}</h4></td>
      </tr>
    </tfoot>
  </table>

  <form method="POST">
    <button
      type="submit"
      class="btn btn-danger"
      value="checkout"
      name="btn_place_order"
      style="float: right"
    >
      Checkout
    </button>
  </form>
</div>

{% endblock %}
