{% extends 'public/templates/base.html' %} {% block title %}Profile{% endblock
%} {% set active_page = "profile" %} {% block body %}

<div id="profile-panel" class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 center-title">My Profile</h1>
      <hr />
    </div>
  </div>
    <div class="row">
      <div class="col-2">
        <p><strong>Name:</strong></p>
        <p><strong>Email:</strong></p>
        <p><strong>Phone:</strong></p>
      </div>
      <div class="col-10">
        <p>{{session['user'][1]}} {{session['user'][2]}}</p>
        <p>{{session['user'][3]}}</p>
        <p>{{session['user'][4]}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
