{% extends 'public/templates/base.html' %} {% block title %}Menu{% endblock %}
{% set active_page = "menu" %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-3">My Profile</h1>
      <hr />

      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <h2><b>Name Here</b></h2>
          <hr />
          <h5>Account Info</h5>
          <p><b>EMAIL : </b>email@exmaple.com</p>
          <p><b>PHONE NUMBER : </b>(999) 999-999</p>

          <button type="button" class="btn btn-primary">Your Orders</button>
          <button type="button" class="btn btn-secondary">
            Account Settings
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
