{% extends 'public/templates/base.html' %} {% block title %}Register{% endblock
%} {% set active_page = "register" %} {% block body %}

<div id="register-panel" class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 center-title">Register</h1>
      <hr />
      <form method="POST">
        <div class="form-group">
          <label for="registerEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="registerEmail"
            aria-describedby="emailHelp"
            placeholder="Email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="registerFirstName"
            placeholder="First Name"
            name="firstName"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="registerLastName"
            placeholder="Last Name"
            name="lastName"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerPhone">Phone Number</label>
          <input
            type="number"
            class="form-control"
            id="registerPhone"
            placeholder="Phone #"
            name="phoneNumber"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerConfirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="registerConfirmPassword"
            placeholder="Confirm Password"
            name="passwordConfirm"
            required
          />
        </div>
        <div class="form-group text-center">
          <button id="register-button" type="submit" class="btn btn-danger">
            Register
          </button>
        </div>
        <div class="form-group text-center">
          <small>Already have an account? <a href="/login">Login</a></small>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
