{% extends 'public/dashboard/dashboard_base.html' %} {% block title %}Active
Orders{% endblock %} {% block partial %}

<h1 class="display-3">Active Orders</h1>
<h4 style="font-weight: 300">View active orders and mark them complete.</h4>
<hr class="menu-title-hr" style="width: 95%; float: left" />

<div class="table-responsive" style="width: 95%">
  <table id="menu-table" class="table table-sm" style="background-color: white">
    <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
      <tr>
        <th>Order #</th>
        <th>Details</th>
        <th>Last Name</th>
        <th>Completed</th>
        <th>Time placed</th>
        <th>Time completed</th>
        <th>User</th>
        <th>Phone #</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% set count = [ ] %} {% set j = 0 %} {% for item in myresult %}
      <tr>
        <td>{{ myresult[count|length][j] }}</td>
        <td>{{ myresult[count|length][j + 1] }}</td>
        <td>{{ myresult[count|length][j + 2] }}</td>
        <td>{{ myresult[count|length][j + 3] }}</td>
        <td>{{ myresult[count|length][j + 4] }}</td>
        <td>{{ myresult[count|length][j + 5] }}</td>
        <td>{{ myresult[count|length][j + 6] }}</td>
        <td>{{ myresult[count|length][j + 7] }}</td>
        <td>
          <form method="POST">
            <button
              id="btnView"
              type="submit"
              class="btn btn-danger"
              name="btn_view"
              value="{{myresult[count|length][j]}}"
            >
              View Order
            </button>
            <button
              id="btnComplete"
              type="submit"
              class="btn btn-danger"
              name="btn_complete"
              value="{{myresult[count|length][j]}}"
            >
              Mark Complete
            </button>
            <!-- <input type=submit value="Complete Order"> -->
          </form>
        </td>
      </tr>
      {% set i = count.append(1) %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
