{% extends 'public/templates/base.html' %} {% block title %}Menu{% endblock %}
{% set active_page = "dashboard" %} {% block body %}
  <div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <nav class="col-md-2 d-none d-md-block sidebar" style="padding-top: 10px; padding-bottom: 100px; height: 100%; background-color: white; border-bottom: rgb(214, 214, 214) 2px solid; border-right: rgb(214, 214, 214) 2px solid;">
        <div class="sidebar-sticky">
          <h1 style="font-weight: 300;">Reports</h1>
          <hr/>
          <ul class="nav flex-column"">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard" style="color: black;">
                <img src="../../../static/img/calendar.svg" alt="user"> Weekly Overview
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order_history" style="color: black;">
                <img src="../../../static/img/clock.svg" alt="user"> Order History
              </a>
            </li>
          </ul>

          <h1 style="font-weight: 300; margin-top: 30px;">Manage</h1>
          <hr/>
          <ul class="nav flex-column"">
            <li class="nav-item">
              <a class="nav-link" href="/active_orders" style="color: black;">
                <img src="../../../static/img/active.svg" alt="user"> Active Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registered_users" style="color: black;">
                <img src="../../../static/img/user.svg" alt="user"> Registered Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu_items" style="color: black;">
                <img src="../../../static/img/book-open.svg" alt="menu"> Menu Items
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% block partial %} {% endblock %}
      </main>
    </div>
  </div>

  
{% endblock %}

