{% extends 'public/dashboard/dashboard_base.html' %} {% block title %}Overview{%
endblock %} {% set active_page = "overview" %} {% block partial %}

<h1 style="margin-bottom: 0" class="display-3">Overview</h1>
<h4 style="font-weight: 300">
  Take a look at trends over the last <strong>7</strong> days
</h4>
<hr class="menu-title-hr" />
<button
  class="btn btn-danger"
  onclick="location.href = '/overview_wasted_items';"
>
  Wasted Items
</button>
<button class="btn btn-danger" onclick="location.href = '/overview_profits';">
  Profits
</button>
<button
  class="btn btn-danger"
  onclick="location.href = '/overview_num_orders';"
>
  # of Orders
</button>
<hr />
{% block content %} {% endblock %} {% endblock %}
