{% extends 'public/dashboard/overview.html' %} {% block title %}Overview | # of
Orders{% endblock %} {% block content %}

<h3># of Orders</h3>
<div class="table-responsive" style="width: 95%">
  <table id="menu-table" class="table table-sm" style="background-color: white">
    <thead style="border-bottom: 3px rgb(129, 39, 44) solid">
      <tr>
        <th>Date</th>
        <th>Number Of Orders</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% set count = [ ] %} {% set j = 0 %} {% for item in myresult %}
      <tr>
        <td>{{ myresult[count|length][j] }}</td>
        <td>{{ myresult[count|length][j + 1] }}</td>
        <td>{{ myresult[count|length][j + 2] }}</td>
      </tr>
      {% set i = count.append(1) %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
